@for (card of cardDocs(); track card.id) {
    <div
        class="flex flex-col p-2.5 gap-2.5 bg-dark/[.02] rounded-15px"
        [class]="
            activeCardId() === card.id ? 'border border-solid border-yellow bg-yellow/[.05]' : ''
        "
        #cards>
        <div class="ml-4 flex items-center text-title text-dark uppercase tracking-[.25em]">
            {{ card.header }}
        </div>
        <div class="flex gap-30px mob:flex-col mob:gap-15px scroll-mt-[185px]" [id]="card.anchor">
            <div class="flex-[55%] rounded-10px bg-full-white p-15px">
                <div class="flex items-start gap-2.5 mb-5">
                    <img
                        width="20"
                        height="20"
                        [ngSrc]="'hand-box' | asset: openSourceCardsPath"
                        alt="Hand with box" />
                    <span class="text-span text-dark/[.25]">Usage</span>
                </div>
                <span class="uppercase tracking-[.25em] text-span text-dark/[.45]"
                    >Source code</span
                >
                <div class="flex flex-col mt-2.5 gap-2.5">
                    @if (card.customCodeProvider) {
                        <pre class="flex text-span">
                             <code class="bg-white w-full h-fit pl-15px rounded-10px border-none overflow-hidden whitespace-pre-line" language="html" [highlight]="card.customCodeProvider"></code>
                             <img height="18" width="13" [ngSrc]="'input-vector' | asset : openSourceCardsPath" class="relative right-5 self-center" alt="Input vector" />
                         </pre>
                    }
                    <pre class="flex text-span">
                         <code type="text" language="html" [highlight]="card.code" class="bg-white w-full h-fit pl-15px rounded-10px border-none overflow-hidden whitespace-pre-line"></code>
                         <img [ngSrc]="'input-vector' | asset : openSourceCardsPath" height="18" width="13"  class="relative right-5 self-center" alt="Input vector" />
                    </pre>
                </div>
            </div>
            <div class="flex-[45%] rounded-10px p-15px bg-dark">
                <div class="flex flex-col gap-30px">
                    @if (card.cardType) {
                        <jsdaddy-open-source-form />
                    }
                    @if (!card.cardType) {
                        <jsdaddy-open-source-loader-indicator-custom-loader />
                    }
                </div>
            </div>
        </div>
    </div>
}
