<section class="content column bg-full-white" *ngIf="activeCardId$ | async as type">
    <div
        class="card"
        *ngFor="let card of cardDocs; trackBy: trackByPath"
        [ngClass]="type | color : card.id"
        [id]="card.id"
        #cards>
        <div class="mr-title title row uppercase ls-25 something">
            {{ card.header }}
        </div>
        <div class="cards-block row" [id]="card.anchor">
            <div class="light-card bg-full-white pd-15">
                <div class="light-title row ai-c">
                    <img
                        width="20"
                        height="20"
                        [ngSrc]="'hand-box' | asset : openSourceCardsPath"
                        alt="Hand with box" />
                    <span class="span">Usage</span>
                </div>
                <span class="source uppercase ls-25 full-white span">Source code</span>
                <div class="white-input">
                    <pre class="row" *ngIf="card.customCodeProvider">
                        <code class="custom-code bg-white" [highlight]="card.customCodeProvider"></code>
                        <img height="18" width="13" [ngSrc]="'input-vector' | asset : openSourceCardsPath" class="custom-pre" alt="Input vector" />
                    </pre>
                    <pre class="row">
                        <code type="text" [highlight]="card.code" class="input-view bg-white"></code>
                        <img height="18" width="13" [ngSrc]="'input-vector' | asset : openSourceCardsPath" class="input-img ais-c" alt="Input vector" />
                    </pre>
                </div>
            </div>
            <div class="dark-card bg-black">
                <div class="dark-input column pd-15">
                    <jsdaddy-open-source-form *ngIf="card.cardType" />
                    <jsdaddy-open-source-loader-indicator-custom-loader *ngIf="!card.cardType" />
                </div>
            </div>
        </div>
    </div>
</section>
