.content-wrapper {
    display: flex;
    justify-content: center;
    overflow: auto;
    padding: 32px 16px;
    box-sizing: border-box;

    .main-container {
        width: 980px;
        display: flex;
        flex-direction: column;
        gap: 16px;

        .row {
            display: flex;
            gap: 16px;

            mat-card {
                width: 100%;

                pre {
                    overflow: auto;
                }

                form {
                    width: 350px;

                    mat-form-field,
                    input {
                        width: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 980px) {
    .main-container {
        max-width: 100%;
        min-width: 100%;
    }
}
