<form (ngSubmit)="login()" [formGroup]="form" [jsdaddyLoader]="isLoading" class="column">
    @for (formItem of formItems; track formItem) {
        <div>
            <jsdaddy-input
                [autoFocus]="false"
                [formControlName]="formItem.formControlName"
                [placeholder]="formItem.placeholder"
                [validators]="formItem.validators" />
        </div>
    }
    <button [disabled]="form.invalid" class="row ai-c span pointer bg-yellow auth-btn">
        Login
    </button>
</form>
